.services {
  text-align: center;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8em;
  color: #575555;
}

.container {
  width: 1048px;
}

.firstRow {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.secondRow {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
