.services {
  text-align: center;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.firstRow {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.secondRow {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
