.zoomImage {
  background-color: #ffff;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  width: 50vw;
}

.zoomImage img {
  height: auto;
}

.btn_container {
  gap: 8px;
  background-color: #d78b8b;
  border-radius: 15px;
  position: absolute;
  z-index: 100;
  top: 0%;
}

.btnDisabled {
  background-color: rgb(191, 190, 190);
}

.btnActive {
  background-color: #d78b8b;
}

.btn {
  border: none;
  border-radius: 15px;
  color: #fff;
  padding: 10px;
  cursor: pointer;
}

@media (max-width: 960px) {
  .zoomImage {
    width: 100%;
  }

  @media (max-width: 1048px) {
    .zoomImage {
      display: none;
    }
  }
}
