.service {
  text-transform: uppercase;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.service p {
  font-weight: bold;
  line-height: 25px;
  margin-top: 15px;
}

.service img {
  width: 80px;
  height: 80px;
}
