.hero {
  margin-top: 1em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  color: #575555;
  width: 100%;
}

.hero h2 {
  font-family: "Istok Web", serif;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 3.239rem;
  letter-spacing: 0%;
  text-align: center;
  color: #575555;
  margin-top: 0;
}

.hero h3 {
  color: "#e4bbbb";
}

.hero .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero .container p {
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  letter-spacing: 3%;
  text-align: center;
  margin-top: 15px;
}

.address {
  font-weight: bold;
  margin-top: 15px;
}

a {
  text-decoration: none;
  color: #d78b8b;
}

.containerImage {
  position: relative;
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.grayForm {
  position: absolute;
  width: 30rem;
  height: 30rem;
  background: #d9d9d9ad;
  border-radius: 50%;
  left: 50%;
  top: 10;
  transform: translateX(-50%) translateX(-150px);
  opacity: 0;
  animation: moveInLeft 1.2s ease-out forwards;
}

.pinkForm {
  position: absolute;
  width: 30rem;
  height: 30rem;
  background: #d1a7a7;
  border-top-left-radius: 300px;
  top: 10;
  left: 50%;
  transform: translateX(-50%) translateX(150px);
  opacity: 0;
  animation: moveInRight 1.2s ease-out 0.3s forwards;
}

.img {
  width: 25rem;
  height: 25rem;
  top: 12px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  opacity: 0;
  animation: fadeIn 2s ease 1s 1 normal forwards;
  object-fit: cover;
}

@keyframes moveInLeft {
  from {
    transform: translateX(-150px);
    opacity: 0;
  }
  to {
    transform: translateX(-65%);
    opacity: 1;
  }
}

@keyframes moveInRight {
  from {
    transform: translateX(150px);
    opacity: 0;
  }
  to {
    transform: translateX(-35%);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(1);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.contact {
  color: #d78b8b;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;
  margin-bottom: 20px;
  font-size: 0.9em;
  margin-top: 15px;
}

.contact > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact > div > a {
  margin-left: 8px;
}

@media (max-width: 1048px) {
  .hero {
    flex-direction: column;
  }

  .pinkForm,
  .grayForm {
    width: 15rem;
    height: 15rem;
  }

  .img {
    width: 12rem;
    height: 12rem;
  }

  .containerImage {
    margin-top: 50px;
  }
}
