.nurses {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  flex-wrap: wrap;
}

.nurses h2 {
  color: #575555;
  text-transform: uppercase;
  font-size: 1.2em;
}
