.serviceArea {
  margin-top: 3rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  position: relative;
}

Modal {
  position: absolute;
}

.container {
  margin: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cabinetContainer {
  width: 20rem;
  height: 25rem;
  overflow: hidden;
  border-radius: 15px;
}

.cabinetImage {
  width: 20rem;
}

.buttonContainer {
  position: relative;
}

.buttonContainer Button {
  position: absolute;
  top: -5rem;
  left: 30%;
  z-index: 100;
}

.mapContainer {
  width: 40rem;
  height: 400px;
  /* overflow: hidden; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.title img {
  width: 40px;
  height: 40px;
}
