.ServiceArea {
  margin-top: 3rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.Container {
  margin: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.CabinetContainer {
  width: 20rem;
  height: 400px;
  overflow: hidden;
  border-radius: 15px;
}

.CabinetImage {
  width: 20rem;
}

.ButtonContainer {
  position: absolute;
  top: 20rem;
  left: 7rem;
}

.MapContainer {
  width: 40rem;
  height: 400px;
  /* overflow: hidden; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Title {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.Title img {
  width: 40px;
  height: 40px;
}
