.container {
  margin-bottom: 2rem;
}

.containerInfo {
  color: gray;
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  margin-top: 1rem;
}

.containerInfo a {
  color: gray;
}

.containerInfo a:hover {
  color: #d78b8b;
  transition: 200ms;
}
