@font-face {
  font-family: "instrument";
  src: url("/fonts/Instrument.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "istok";
  src: url("/fonts/IstokWeb.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  padding: 0 4.8rem;
}

body {
  font-family: "Istok Web", serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-family: "Instrument Sans", serif;
  font-style: normal;
}

h3 {
  color: #d78b8b;
  font-family: Istok Web;
  font-weight: 700;
  font-size: 24px;
  line-height: 34.55px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: capitalize;
}

h4 {
  font-family: Istok Web;
  font-weight: 700;
  line-height: 34.55px;
  letter-spacing: 0%;
  text-align: center;
  color: #575555;
}
